.venv
.git
.githooks
data
notebooks
docs
mlruns
ray_results
__pycache__
*.pyc
*.egg-info
.pytest_cache
.ruff_cache
.mypy_cache

# Exclude ALL terraform directories & cache recursively
**/.terraform
**/.terraform/**
infra/terraform*
infra/terraform_eks/.terraform
infra/terraform_ec2/.terraform
infra/terraform_cdc/.terraform
*.tfstate
*.tfstate.*

# Heavy model files, data dumps, and checkpoints anywhere
*.onnx
*.ckpt
*.pth
*.bin
*.parquet
*.dill
*.tar.gz
*.zip
*.png
*.jpg
*.jpeg

# Specific heavy folders
models/output
models/ranking_sequence/model_repository
feature/output